*{
margin:0;
padding:0;
}
body{
	background-image:url(https://cdn.wallpapersafari.com/35/61/bFJRnp.jpg );
	/* background: linear-gradient(50deg,rgba(145, 145, 145, 0.719),rgba(145, 145, 145, 0.76),url(https://cdn.wallpapersafari.com/35/61/bFJRnp.jpg)); */
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
	/* border-top:1px solid red;
	border-bottom:2px solid blue;
	border-left:2px solid grey;
	border-right:2px solid silver; */
}
h5{
	font-size:90px;
	/* padding-left:100px;
	padding:50px;
	padding-left:550px; */
	color:rgb(255, 255, 255);
	text-align: center;
}
.pro{
	display:flex;
	max-width:450px;
	margin:150px auto;
}
.pro .a2{
	position:relative;
	background-color:white;
	width:100%;
	border-radius:5px;
	box-shadow:0px 1px 5px 3px rgba(0,0,0,0);
	font-size:20px;
	padding-left:5px;
}
.a2 input{
	height:55px;
	width:80%;
	border-radius:4px;
	padding:0 40px;
	font-size:20px;
	box-shadow:0px 1px 5px rgba(0,0,0,0.1);
}
.a2 .a3{
	/*padding:10px 8px;*/
	max-height:200px;
	overflow:overflow-y;
}
.a3 li{
	list-style:none;
	padding:8px 12px;
	cursor:default;
	border-radius:3px;
	font-size:20px;
	color:purple;
}
a{
	text-decoration:none;
	color:red;

}
.a3 li:hover{
	background: grey;
}
.a1{
	font-size:15px;
	padding-left:5px;
}
h4{
	font-size:15px;
	padding-left:100px;
}
p{
	font-size:15px;
	padding-left:100px;
}
div{
	display:inline-block;
}
div img{
	justify-content:space-around;
	align-items:center;
	letter-spacing:4px;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	justify-content:space-around;
	max-width:100%;
	padding:100px 0;
}
.r1:hover{
	flex-basis:100%;
	min-width:300px;
	transform: translateY(-10px);
}
.r1 img{
	max-width:1100px;
	margin:auto;
	padding-left:100px;
	padding-right:100px;
	transition:transform 0.5s;
}
.r2,.r3,.r4{
	background-color: aliceblue;
}
.r2:hover{
	flex-basis:100%;
	min-width:300px;
	transform: translateY(-10px)
}
.r2 img{
	max-width:1100px;
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	transition: transform 0.5s;
}
.r3:hover{
	flex-basis:100%;
	min-width:300px;
	transform:translateY(-10px);
}
.r3 img{	
	max-width:1100px;
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	transition:transform 0.5s;
}
.r4:hover{
	flex-basis:100%;
	min-width:300px;
	transform:translateY(-10px);
}
.r4 img{
	max-width:1100px;
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	transition:transform 0.5s;
}
.r2,.r1,.r3,.r4{
	background-color: aliceblue;
	padding: 20px;
}